.body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 10px;  }
h1{
    color:black;
    text-align: center;
    border: 5px solid green;
}
form{
    margin-top: 0px;
    padding-left: 60px;
    padding-top: 2px;
    justify-content: center;
    display: flex;
    margin: 40px 50px; 
}
.center{
     margin: auto;
    width: 50%;
    padding: 5px;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;

    
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
 .centered-table {
    margin: 0 auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th,tr {
    border: 1px solid #dddddd;
    text-align: center;
  } 
  *{
    background-color: aliceblue;
  }
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 20px;
    height: 300px; /* Should be removed. Only for demonstration */
  }